
.form-group {
    position: relative;
}
.form form{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#form{
    padding: 30px 45px; 
}
#contact-form{
    padding: 30px 60px !important;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
    font-family: 'Open Sans', 'Helvetica', sans-serif !important; 
    color: #2f4a6d;
}

label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background: white;
    padding: 0 5px;
}

input:focus, select:focus {
    border-color: #2f4a6d;
}

input:focus + label, 
select:focus + label,
input:not(:placeholder-shown) + label,
select:not([value=""]) + label {
    top: 0;
    font-size: 12px;
    color: #2f4a6d;
}
/* Dropdown */
.dropdown {
    position: relative;
    color: #2f4a6d;
}

.dropdown-toggle {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.dropdown-toggle::after {
    content: "▼";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.dropdown-menu li:hover {
    background-color: #2f4a6d;
    color: white;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown.active .dropdown-toggle {
    border-color: #2f4a6d;
}

.dropdown.active + label {
    top: 0;
    font-size: 12px;
    color: #2f4a6d;
}
.cgu-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #333;
}
.cgu-group p{
    position: relative;
    font-size: 0.8rem !important;
    display: block !important;
    margin: 0 !important;
}
.cgu-group p a{
    color: #3BC0D6;
}

.cgu-group input {
    height: 18px;
    width: 18px;;
    margin: 0;
    cursor: pointer;
    padding: 5px;
}
.cgu-group input[type="checkbox" i]:checked {
    background: #3BC0D6;
}

.success-message{
    color: #3aba79;
    border: 1px solid #3aba79;
    border-radius: 10px;
    padding:20px 30px;
    text-align: center;
    background-color: #e7fff3;
    margin-top:50px !important;
    flex-direction: column;
    gap: 1.5rem;
}
.success-message h5{
    font-weight: 700;
}
